{% extends 'Person/base.html' %}

{% block body1 %}
    <!-- content start -->
  <div class="admin-content">
    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">课程信息</strong> / <small>Course information</small></div>
    </div>

    <hr/>

    <div class="am-g">

      <div class="am-u-sm-12 am-u-md-4 am-u-md-push-8">

      </div>

      <div class="am-u-sm-12 am-u-md-8 am-u-md-pull-4">
        <form class="am-form am-form-horizontal" method="post" action="{% url 'coursedetail' course.id %}">
            {% csrf_token %}
          <div class="am-form-group">
            <label for="user-name" class="am-u-sm-3 am-form-label">名称</label>
            <div class="am-u-sm-9">
              <input type="text" name="name" placeholder="名称" value="{{ course.name }}">
            </div>
          </div>

          <div class="am-form-group">
            <label for="user-email" class="am-u-sm-3 am-form-label">描述</label>
            <div class="am-u-sm-9">
              <input type="text" name="descrption" placeholder="描述" value="{{ course.descrption }}">
            </div>
          </div>


            <div class="am-form-group">
            <label for="user-phone" class="am-u-sm-3 am-form-label">老师</label>
            <div class="am-u-sm-9">

              <select name="teachers_id" multiple="multiple" >
                  {% for teacher in teachers %}
                   <option value="{{ teacher.id}}" {% for teacher1 in course.teachers.all %} {% if teacher1.id == teacher.id %} selected="selected"{% endif %}{% endfor %}>{{ teacher.username }}</option>
                  {% endfor %}
                </select>
            </div>
          </div>


          <div class="am-form-group">
            <div class="am-u-sm-9 am-u-sm-push-3">
              <button type="submit" class="am-btn am-btn-primary">保存修改</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- content end -->
{% endblock %}