{% extends 'Person/base.html' %}

{% block body1 %}
        <!-- content start -->
  <div class="admin-content">
    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">学生信息上传</strong> / <small>Student information upload</small></div>
    </div>

    <hr/>

    <div class="am-g">

      <div class="am-u-sm-12 am-u-md-4 am-u-md-push-8">

      </div>

      <div class="am-u-sm-12 am-u-md-8 am-u-md-pull-4">
        <form class="am-form am-form-horizontal" method="post" action="{% url 'personupload' %}" enctype="multipart/form-data">
            {% csrf_token %}
        <div class="am-form-group">
            <label for="user-phone" class="am-u-sm-3 am-form-label">文件</label>
            <div class="am-u-sm-9">
              <input type="file" name="file" >
            </div>
          </div>

          <div class="am-form-group">
            <div class="am-u-sm-9 am-u-sm-push-3">
              <button type="submit" class="am-btn am-btn-primary">上传</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- content end -->
{% endblock %}